# Tempfiles/etc
*.DS_Store
*.a
*.la
*.lo
*.o
*.pyc
*.so
*.swo
*.swp
*~

# setuptools distribution directory
/dist/

# Python egg metadata
/*.egg-info
/.eggs

# setuptools build directory
/build/

MANIFEST

# Converted documentation
AUTHORS
DEVELOPMENT
INSTALL
README
TODO

# Local checkouts of third party code (e.g. rsync) for source perusal
thirdparty/
